@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}

<section class="hero">
    <h1>Илья Леонтьев</h1>

    <p class="subtitle">
        Unity Developer • ASP.NET Core Developer
    </p>

    <p class="description">
        Это мой первый сайт на ASP.NET Core.
        Позже он станет полноценным портфолио.
    </p>

    <div class="projects">

        <div class="card">
            <h2>Portfolio</h2>
            <p>ASP.NET Core + PostgreSQL</p>
        </div>

        <div class="card">
            <h2>Unity Game</h2>
            <p>Top Down Shooter</p>
        </div>

        <div class="card">
            <h2>Weather App</h2>
            <p>Первое Web API приложение</p>
        </div>

    </div>

</section>